package $packageName;

import org.minnal.core.Application;
#if ($enableJpa)
import org.minnal.jpa.JPAPlugin;
#end

public class ${applicationClassName} extends Application<${applicationConfigClassName}> {

	@Override
	protected void registerPlugins() {
#if ($enableJpa)
		registerPlugin(new JPAPlugin());
#end
	}
	
	@Override
	protected void defineResources() {
	}
}